body {
  background-color: #adbad2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}

.mynavbar {
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  background: #011d4c;
  color: #fff;
  text-align: center;
}

.mynavbar li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin: 0px, 10px, 0px, 10px;
}

.active,
.mynavbar li:hover {
  background: #073b94;
  cursor: pointer;
  border-radius: 10px;
}

.mynavbar a {
  text-decoration: none;
  color: #fff;
  background: transparent;
}

.mynavbar a:hover {
  background: transparent;
}

/* navbar submenu */

.submenu {
  display: none;
  position: absolute;
  transform: translateX(-25%) translateY(5%);
  border: #c5c5c5 2px solid;
}

.mynavbar li:hover .submenu {
  display: block;
  background: #335793;
}

.mynavbar li:hover .submenu ul {
  display: grid;
  margin: 0%;
  padding: 0%;
  list-style: none;
}

.mynavbar li:hover .submenu li {
  background: transparent;
  border-bottom: 1px solid #c5c5c5;
  border-radius: 0px;
}

.mynavbar li:hover .submenu a:hover {
  background: transparent;
  color: #808e9b;
}

.mynavbar li:hover .submenu li:last-child {
  border-bottom: none
}

.tableCont {
  width: 95%;
  margin: auto;
}

table {
  width: 95%;
  margin: auto;
  border: 2px solid #363636;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: small;
}

th,
td {
  border: 1px solid #363636;
  color: black;
}

th {
  padding: 8px 10px;
  background-color: #4f7298;
  color: #d1d6de;
}

td {
  padding: 6px 8px;
  background-color: #d8d8d8;
  font-size: small;
}

.queryUsedCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;
  text-align: left;
}

.queryUsed {
  display: none;
  background: rgb(56, 56, 56);
  border: 1px solid #808080;
  color: rgb(235, 235, 235);
  padding-right: 10px;
  font-family: monospace;
}

.queryUsedCont button {
  cursor: pointer;
}

.buttonRow {
  margin: 2% auto;
}

.buttonRow button {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  color: #000;
  background-color: #b3d4a1;
  border-radius: 10px;
  border: 2px solid #383838;
  padding: 5px;
}

.model img {
  width: 50%;
}